@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500|Rubik:500, 600");

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: #ffffff;
}

#preloader{
    position: fixed;
    z-index: 2000;
    width:100%;
    height:100%;
    background:#ffffff;
    display:flex;
    justify-content: center;
    align-items: center;
}

.loader-img{
    animation: loader 3s linear infinite;
}

@keyframes loader{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(54, 122, 131, 0.4)), url('../assets/img/header-hospital.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
  }

  #about{
      background: #f0f0f0;
  }

  .about-card{
    border: 10px solid #f9f9ff;
    border-radius: 10px;
  }

  .lnr{
      font-size: 30px;
      color: grey;
  }

  #service{
      background: linear-gradient(rgba(11, 24, 26, 0.6), rgba(11, 24, 26, 0.6)), url('../assets/img/service1.jpg');
      background-repeat: none;
      background-size: cover;
      background-position: center;
  }

  .custom-container{
      margin: 30px;
  }

  .square-service-block{
	position:relative;
	overflow:hidden;
    margin:15px auto;
	}
.square-service-block a {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 100%;
  height: 150px;

}
.square-service-block a:hover{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.ssb-icon {
  color: #fff;
  display: inline-block;
  font-size: 28px;
  margin: 0 0 20px;
}

h2.ssb-title {
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  margin:0;
  padding:0;
  text-transform: uppercase;
}

  .c-panel{
    width: 100%;
    height: 50px;
    background: #4fb5c3;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 500;
  }

  .c-panel .lnr{
      font-size: 1rem;
      color: #ffffff;
      font-weight: 600;
  }

    .about_area{
    background-color: #ffffff;
    }
    .h_blog_item .col-lg-6 {
    vertical-align: middle;
    align-self: center; }
    .h_blog_item .h_blog_img {
    position: relative;
    z-index: 10; }
    .h_blog_item .h_blog_text {
    padding-top: 0px;
    padding-bottom: 20px; }
    .h_blog_item .h_blog_text .h_blog_text_inner {
    background: #eeeeee;
    padding: 75px 90px;
    border-radius: 10px; }
    @media (max-width: 991px) {
    .h_blog_item .h_blog_text .h_blog_text_inner {
    padding: 30px 15px; } }
    .h_blog_item .h_blog_text .h_blog_text_inner.left {
    position: relative;
    z-index: 2; }
    .h_blog_item .h_blog_text .h_blog_text_inner.right {
    position: relative;
    z-index: 1;
    border: 10px solid #f9f9ff; }
    @media (max-width: 991px) {
    .h_blog_item .h_blog_text .h_blog_text_inner.right {
    margin-left: 0px; } }
    .h_blog_item .h_blog_text .h_blog_text_inner h4 {
    color: #002347;
    font-size: 30px;
    margin-bottom: 15px; }
    .h_blog_item .h_blog_text .h_blog_text_inner p {
    margin-bottom: 30px; }

    .ch_blog_item .col-lg-12 {
    vertical-align: middle;
    align-self: center; }
    .ch_blog_item .h_blog_img {
    position: relative;
    z-index: 10; }
    .ch_blog_item .h_blog_text {
    padding-top: 0px;
    padding-bottom: 20px; }
    .ch_blog_item .h_blog_text .h_blog_text_inner {
    background: #eeeeee;
    padding: 75px 30px;
    border-radius: 10px; }
    @media (max-width: 991px) {
    .ch_blog_item .h_blog_text .h_blog_text_inner {
    padding: 30px 15px; } }
    .ch_blog_item .h_blog_text .h_blog_text_inner.left {
    position: relative;
    z-index: 2; }
    .ch_blog_item .h_blog_text .h_blog_text_inner.right {
    position: relative;
    z-index: 1;
    border: 10px solid #f9f9ff; }
    @media (max-width: 991px) {
    .ch_blog_item .h_blog_text .h_blog_text_inner.right {
    margin-left: 0px; } }
    .ch_blog_item .h_blog_text .h_blog_text_inner h4 {
    color: #002347;
    font-size: 30px;
    margin-bottom: 15px; }
    .ch_blog_item .h_blog_text .h_blog_text_inner p {
    margin-bottom: 30px; }

    .contact_info .info_item {
    position: relative;
    padding-left: 45px; }
    .contact_info .info_item i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    line-height: 24px;
    color: #002347;
    font-weight: 600; }
    .contact_info .info_item h6 {
    font-size: 16px;
    line-height: 24px;
    color: "Roboto", sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
    color: #002347; }
    .contact_info .info_item h6 a {
    color: #002347; }
    .contact_info .info_item p {
    font-size: 14px;
    line-height: 24px;
    padding: 2px 0px; }

    .contact_form .form-group {
    margin-bottom: 10px; }
    .contact_form .form-group .form-control {
    line-height: 26px;
    color: #999;
    border: 1px solid #eeeeee;
    font-family: "Roboto", sans-serif;
    border-radius: 0px;
    padding-left: 20px; }
    .contact_form .form-group .form-control:focus {
    box-shadow: none;
    outline: none; }
    .contact_form .form-group .form-control.placeholder {
    color: #002347;
    font-size: 13px; }
    .contact_form .form-group .form-control:-moz-placeholder {
    color: #002347;
    font-size: 13px; }
    .contact_form .form-group .form-control::-moz-placeholder {
    color: #002347;
    font-size: 13px; }
    .contact_form .form-group .form-control::-webkit-input-placeholder {
    color: #002347;
    font-size: 13px; }
    .contact_form .form-group textarea {
    resize: none; }
    .contact_form .form-group textarea.form-control {
    height: 140px; }
    .contact_form .primary-btn {
    margin-top: 20px;
    cursor: pointer; }


  footer{
      background: #2b2b2b;
      color: #ffffff;
      height: 50px;
  }

  